/* For some reason, Tomato ratings keep getting removed for me, added this to hide them so that N/A doesnt keep showing up in Media Bar */
/* .tomato-rating {
    display: none !important;
} */

/* I don't like or use favourites bar, this hides it */
.noHomeButtonHeader .emby-tab-button[data-index="1"] {
  display: none !important;
}

/* Make device cards and media library cards smaller for compact layout */
#devicesPage .cardScalable, #mediaLibraryPage .cardScalable {
  height: 10vh;
}


/* Testing */
/* Change colors for options dropdown */
.emby-select option {
  background-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.2);
  color: var(--text-color);
}

/* Selected option */
.emby-select option:checked {
  background-color: rgb(var(--primary-r), var(--primary-g), var(--primary-b));
}

/* High DPI */

/* Adjustments for 2K monitors (e.g., 2000px width and above) */
@media (min-width: 2000px) {
  .playedIndicator, .indicator, .mediaSourceIndicator {
    width: 40px;
    height: 40px;
    font-size: 120%;
  }
  .cardText-first {
    font-size: 1.2em;
  }
  .cardText-secondary {
    font-size: 1.1em;
  }
  .layout-desktop #castContent .card.overflowPortraitCard,
  .layout-desktop #guestCastContent .card.overflowPortraitCard {
    width: 13em !important;
  }
  .headerButton .material-icons {
    font-size: 2.2em !important;
  }
  .emby-tab-button .emby-button-foreground {
    font-size: 18px !important;
  }
  .emby-tab-button {
    height: 40px !important;
  }
  .layout-desktop .headerTabs {
    font-size: 18px !important;
  }
  .layout-desktop .headerRight {
    height: 4em !important;
  }
  .headerUserButtonRound div {
    width: 25px !important;
    height: 25px !important;
  }
}


/*
================================================================================
|                         COLLECTION PAGE                                       |
================================================================================
*/

.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .detailImageContainer .card {
    position: fixed!important;
    top: 15vh !important;
    max-width: 250px;
    min-width: 180px;
}

.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .mainDetailButtons {
    display: none;
}
.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .itemDetailsGroup {
    display: none;
}

.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .detailSectionContent {
    display: none;
}

.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .itemMiscInfo-primary > .mediaInfoItem:not(:first-child) {
    display: none !important;
}

.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .nameContainer {
    top: -10vh !important;
    left: 18vw !important;
}

.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .itemMiscInfo {
    top: -12vh !important;
    left: 17.5vw !important;
}

.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .collectionItems {
    position: absolute !important;
    top: 20vh !important;
    left: 18vw !important;
}

.layout-desktop #itemDetailPage:has([data-type="BoxSet"]) .sectionTitleContainer {
    margin: 0px;
    margin-left: -50px;
}
